@import "tailwindcss";

:root {
  color-scheme: dark;

  --black: #000101;
  --text: #C7C3C5;
  --gray: #262626; /*#1e1e1e;*/ /*#262626;*/ /*#191A1F;*/
  /*#314158 gray-700 button*/
  --primary: #314158; /*#22735d;*/ /*#d83160;*/
  --primaryT: #31415851;

  --accent: #00a8c2;
  --accentT: #00a8c26b;
  --red:#d83160;
  --redT: #d8316070;
  --graphite: #2E2F2F;/*gray text gray muted*/

  --teal: #008080;
  --crimson: #DC143C;
  --classic-crimson-2: #DC183Eff;

  --up: #088F79;
  --down: #F33644;

  --blue-green: #2c99c0;
  --flag-red: #be292d;
  --dim-grey: #626365ff;
  --chart: #161616;
  --chart1: #121418;
  --chart2: #131419;
}

body {
  margin: 0;
  padding: 0;
  color: var(--accent);
  background-color: var(--b);
}

input[type=color] {
    padding: 0;
    border-radius: 4px;
    overflow: hidden; /* forces swatch to follow border radius */
    appearance: none;
    -webkit-appearance: none;
}
/* Remove internal padding around the color box */
input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
}
/* Style the actual color box */
input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 0px; /* same rounding as outer input */
}
/* Firefox */
input[type=color]::-moz-color-swatch {
    border: none;
    border-radius: 4px;
    padding: 0;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  border: 0.20rem solid var(--graphite);
  border-radius: 0.5rem;
  background-color: var(--primary);
}
input[type="checkbox"]::before {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
  background-color: var(--black);
}
input[type="checkbox"]:checked{
  background-color: var(--primary);
}
input[type="checkbox"]:hover {
  background-color: var(--primary);
  border: 0.20rem solid var(--black);
}


/* Apply to all scrollable elements */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--primary) #1e1e1e; /* thumb color | track color */
}
/* Webkit browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark track */
}
*::-webkit-scrollbar-thumb {
  background-color: #555; /* dark thumb */
  border-radius: 4px;
  border: 2px solid #1e1e1e; /* optional padding around thumb */
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* lighter on hover */
}


