@import "tailwindcss";

:root {
  --black: #171718;
  --gray: #303031;
  --b: #1e1e1e;

  --red: #d83160;
  --accent: #00a8c2;
}

body {
  margin: 0;
  padding: 0;
  color: var(--accent);
  background-color: var(--b);
}


/* Apply to all scrollable elements */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #d83160 #1e1e1e; /* thumb color | track color */
}
/* Webkit browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark track */
}
*::-webkit-scrollbar-thumb {
  background-color: #555; /* dark thumb */
  border-radius: 4px;
  border: 2px solid #1e1e1e; /* optional padding around thumb */
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* lighter on hover */
}


